# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [44]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [45]:
# Calculate the total number of unique schools
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [46]:
# Calculate the total number of students
student_count = school_data_complete["Student ID"].count()
student_count

39170

In [47]:
# Calculate the total budget
total_budget = sum(school_data["budget"])
total_budget

24649428

In [48]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [49]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [50]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [51]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [52]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [53]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame([{"Total Schools": school_count_2,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_rate}])

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [55]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [56]:
# Calculate the total student count
per_school_counts = school_data.set_index(["school_name"])["size"]
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [58]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [104]:
# Calculate the average test scores
per_school_math = school_data_complete.groupby(school_data_complete["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete.groupby(school_data_complete["school_name"]).mean()["reading_score"]

average_test_scores = pd.DataFrame([{"Average math": per_school_math, 
                                   "Average reading": per_school_reading}])
average_test_scores.head()

,Average math,Average reading
0,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...

In [105]:
# Calculate the number of schools with math scores of 70 or higher
school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["school_name"]
school_passing_math

29370

In [106]:
# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["school_name"]
school_passing_reading

33610

In [155]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)].count()["school_name"]
    

passing_math_and_reading

25528

In [190]:
# Use the provided code to calculate the passing rates (gave up no clue!)
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

AttributeError: 'numpy.int64' object has no attribute 'groupby'

In [182]:
# Create a DataFrame  called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({"School Type": school_types,
 "Total Students": per_school_counts,
 "Total School Budget": per_school_budget,
 "Per Student Budget": per_school_capita,
 "Average Math Score": per_school_math,
 "Average Reading Score": per_school_reading,
 "% Passing Math": per_school_passing_math,
 "% Passing Reading": per_school_passing_reading,
 "% Overall Passing": overall_passing_rate})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,74.980853,85.805463,65.172326
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,74.980853,85.805463,65.172326
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,74.980853,85.805463,65.172326
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,74.980853,85.805463,65.172326
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,74.980853,85.805463,65.172326
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,74.980853,85.805463,65.172326
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,74.980853,85.805463,65.172326
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,74.980853,85.805463,65.172326
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,74.980853,85.805463,65.172326
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,74.980853,85.805463,65.172326
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,74.980853,85.805463,65.172326
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,74.980853,85.805463,65.172326
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,74.980853,85.805463,65.172326
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,74.980853,85.805463,65.172326
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,74.980853,85.805463,65.172326

## Highest-Performing Schools (by % Overall Passing)

In [192]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(["% Overall Passing"], ascending=False)

top_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,74.980853,85.805463,65.172326
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,74.980853,85.805463,65.172326
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,74.980853,85.805463,65.172326
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,74.980853,85.805463,65.172326
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,74.980853,85.805463,65.172326
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,74.980853,85.805463,65.172326
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,74.980853,85.805463,65.172326
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,74.980853,85.805463,65.172326
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,74.980853,85.805463,65.172326
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,74.980853,85.805463,65.172326
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,74.980853,85.805463,65.172326
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,74.980853,85.805463,65.172326
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,74.980853,85.805463,65.172326
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,74.980853,85.805463,65.172326
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,74.980853,85.805463,65.172326

## Bottom Performing Schools (By % Overall Passing)

In [194]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(["% Overall Passing"], ascending=True)

bottom_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,74.980853,85.805463,65.172326
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,74.980853,85.805463,65.172326
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,74.980853,85.805463,65.172326
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,74.980853,85.805463,65.172326
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,74.980853,85.805463,65.172326
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,74.980853,85.805463,65.172326
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,74.980853,85.805463,65.172326
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,74.980853,85.805463,65.172326
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,74.980853,85.805463,65.172326
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,74.980853,85.805463,65.172326
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,74.980853,85.805463,65.172326
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,74.980853,85.805463,65.172326
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,74.980853,85.805463,65.172326
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,74.980853,85.805463,65.172326
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,74.980853,85.805463,65.172326

## Math Scores by Grade

In [205]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

# Use the code to select only the `math_score`.
ninth_grade_math_scores = ninth_graders_scores["math_score"]
tenth_grader_math_scores = tenth_graders_scores["math_score"]
eleventh_grader_math_scores = eleventh_graders_scores.mean()["math_score"]
twelfth_grader_math_scores = twelfth_graders_scores["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
               "9th": ninth_grade_math_scores,
               "10th": tenth_grade_math_scores,
               "11th": eleventh_grade_math_scores,
               "12th": twelfth_grade_math_scores})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

KeyError: 'math_score'

## Reading Score by Grade

In [211]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

# Use the code to select only the `reading_score`.
ninth_grade_reading_scores = ninth_graders_scores["reading_score"]
tenth_grader_reading_scores = tenth_graders_scores["reading_score"]
eleventh_grader_reading_scores = eleventh_graders_scores.mean()["reading_score"]
twelfth_grader_reading_scores = twelfth_graders_scores["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade= pd.DataFrame({
              "9th": ninth_grade_reading_scores,
              "10th": tenth_grade_reading_scores,
              "11th": eleventh_grade_reading_scores,
              "12th": twelfth_grade_reading_scores})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

TypeError: 'Series' object is not callable

## Scores by School Spending

In [208]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [209]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [216]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] =  pd.cut(per_school_capita, spending_bins, labels=labels)

school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,74.980853,85.805463,65.172326,$585-630
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,74.980853,85.805463,65.172326,<$585
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,74.980853,85.805463,65.172326,$630-645
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,74.980853,85.805463,65.172326,$630-645
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,74.980853,85.805463,65.172326,$585-630
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,74.980853,85.805463,65.172326,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,74.980853,85.805463,65.172326,<$585
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,74.980853,85.805463,65.172326,$645-680
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,74.980853,85.805463,65.172326,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,74.980853,85.805463,65.172326,$585-630
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,74.980853,85.805463,65.172326,$630-645
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,74.980853,85.805463,65.172326,$585-630
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,74.980853,85.805463,65.172326,$630-645
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,74.980853,85.805463,65.172326,<$585
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,74.980853,85.805463,65.172326,<$585

In [215]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [217]:
# Assemble into DataFrame
spending_summary = spending_summary_df = pd.DataFrame({
          "Average Math Score" : spending_math_scores,
          "Average Reading Score": spending_reading_scores,
          "% Passing Math": spending_passing_math,
          "% Passing Reading": spending_passing_reading,
          "% Overall Passing": overall_passing_spending})



# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,74.980853,85.805463,65.172326
$585-630,81.899826,83.155286,74.980853,85.805463,65.172326
$630-645,78.518855,81.624473,74.980853,85.805463,65.172326
$645-680,76.997210,81.027843,74.980853,85.805463,65.172326

## Scores by School Size

In [29]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [30]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] =

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

In [31]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing"]

In [221]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({"Average Math Score" : per_school_math,
          "Average Reading Score": per_school_reading,
          "% Passing Math": spending_passing_math,
          "% Passing Reading": spending_passing_reading,
          "% Overall Passing": overall_passing_spending})


# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
$585-630,NaN,NaN,74.980853,85.805463,65.172326
$630-645,NaN,NaN,74.980853,85.805463,65.172326
$645-680,NaN,NaN,74.980853,85.805463,65.172326
<$585,NaN,NaN,74.980853,85.805463,65.172326
Bailey High School,77.048432,81.033963,NaN,NaN,NaN
Cabrera High School,83.061895,83.975780,NaN,NaN,NaN
Figueroa High School,76.711767,81.158020,NaN,NaN,NaN
Ford High School,77.102592,80.746258,NaN,NaN,NaN
Griffin High School,83.351499,83.816757,NaN,NaN,NaN
Hernandez High School,77.289752,80.934412,NaN,NaN,NaN
Holden High School,83.803279,83.814988,NaN,NaN,NaN
Huang High School,76.629414,81.182722,NaN,NaN,NaN
Johnson High School,77.072464,80.966394,NaN,NaN,NaN
Pena High School,83.839917,84.044699,NaN,NaN,NaN
Rodriguez High School,76.842711,80.744686,NaN,NaN,NaN
Shelton High School,83.359455,83.725724,NaN,NaN,NaN
Thomas High School,83.418349,83.848930,NaN,NaN,NaN
Wilson High School,83.274201,83.989488,NaN,NaN,NaN
Wright High School,83.682222,83.955000,NaN,NaN,NaN

## Scores by School Type

In [224]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = per_school_summary.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = per_school_summary.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = per_school_summary.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_reading = per_school_summary.groupby(["School Type"]).mean()["% Passing Reading"]
type_overall_passing = per_school_summary.groupby(["School Type"]).mean()["% Overall Passing"]

# Use the code provided to select new column data
average_math_score_by_type = type_math_scores["Average Math Score"].map("{:.1f}".format)
average_reading_score_by_type = type_reading_scores["Average Reading Score"]
average_percent_passing_math_by_type = type_passing_math["% Passing Math"]
average_percent_passing_reading_by_type = type_passing_reading["% Passing Reading"]
average_percent_overall_passing_by_type = type_overall_passing["% Overall Passing"]

KeyError: 'Average Math Score'

In [225]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
          "Average Math Score" : type_math_scores,
          "Average Reading Score": type_reading_scores,
          "% Passing Math": type_passing_math,
          "% Passing Reading": type_passing_reading,
          "% Overall Passing": type_overall_passing})

# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,74.980853,85.805463,65.172326
District,76.956733,80.966636,74.980853,85.805463,65.172326